{% extends 'computers\base.html' %}

{% block body_block %}

    <div class="row">
        <div class="col-md-8 col-sm-offset-2">
            <div class="jumbotron">
                <div class="page-header">
                <h1>尚意广告网络管理平台</h1>
                
                </div>
                
            </div>    
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8 col-sm-offset-2">
           <div class="panel panel-info">
               <div class="panel-heading">功能说明</div>
               <div class="panel-body">
                   <p>1.此平台用于展示公司<strong>电脑位置</strong>和<strong>使用情况</strong>，并可以直接编辑更改</p>
                   <p>2.后台里面的<strong>Computers</strong>项里可以浏览所有数据</p>
                   <p>3.项目为<strong>Django+Bootstrap+nginx</strong>搭建，项目文件夹在<strong>D:/netmaster/</strong>,服务器文件夹在<strong>D:/nginx/</strong></p>
                   <p>4.未列出的电脑为报废或在尚扬和司机室放置，详细信息参考<strong>在用电脑档案.xlsx</strong></p>
                   <P>5.后台账号密码见<strong>电话及宽带信息.xlsx</strong></P>
               </div>
           </div> 
        </div>
    </div>


{% endblock %}