{% extends 'computers\base.html' %}

{% block body_block %}

    <div class="row">
        <div class="col-md-8 col-sm-offset-2">
            <div class="jumbotron">
                <div class="page-header">
                <h1>尚意广告网络管理平台</h1>
                
                </div>
                
            </div>    
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8 col-sm-offset-2">
           <div class="panel panel-primary">
               <div class="panel-heading">功能说明</div>
               <div class="panel-body">
                   <p>1.此平台用于展示公司电脑位置和使用情况</p>
                   <p>2.后台里面的Computers项里可以修改公司电脑信息,只修改positionID即可，其他不用动！</p>
                   <p>3.项目为Django+Bootstrap+nginx搭建，项目文件夹在D:/netmaster/,服务器文件夹在D:/nginx/</p>
               </div>
           </div> 
        </div>
    </div>


{% endblock %}